@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  overflow-x: hidden; 
}

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}